:root {
  --primary-bg-color: rgb(23, 25, 27);
  --primary-color: rgb(131, 228, 192);
  --link-color: rgb(176, 242, 218);
}

html {
    height: 100%;
}

.container {
    font-family: monospace;
    font-size: 32px;
    font-weight: bold;
    color: var(--primary-color);
    margin: 0px;
    text-align: center;

    display:flex;
    flex-direction:column;
    min-height:100vh;
    gap: 16px;
    
}

body {
    background-color: var(--primary-bg-color);
    background-image: linear-gradient(var(--primary-bg-color), rgb(28, 30, 32));
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

p {
    font-size: 24px;
}

.header {
    margin-top: 25px;
    font-size: 60px;
}

.main {
}

.description {
    text-align: left;
    margin: 25px;
    margin-top: 0;
}

.footer {
    margin-top:auto;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header, .main, .footer, .cards {
    /*border: 4px dashed rgb(210, 48, 208);*/
}



.cards {
    margin-top: 50px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    gap: 25px;
   
    max-width: auto;

}



.item {
    border: 2px solid var(--primary-color);
    border-radius: 12px;
    align-self: center;
    height: 250px;
    transition-duration: 0.05s;
}

.item:hover {
    scale: 1.02;
}


hr {
  border: 1px solid rgb(51, 119, 112);
  border-radius: 2px;
  width: 100%;
}

.socials {
    margin: 20px;
    
    justify-content: center;
    align-items: center;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-size: 22px;
    color: rgb(141, 201, 216);
}



a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}
a:link {
    text-decoration: inherit;
    color: inherit;
}

a:hover {
    color: var(--link-color);
}

